@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.menu {
    display: flex;
    align-items: center;
}

.nav .logo {
    /* margin-left: 100px; */
}

.menu-link {
    margin-right: 160px;
}

.menu-link a {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
    text-transform: capitalize;
}

.menu-search {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background: #fff;
    box-shadow: -3px 4px 6px 1px #f1efef;
    border-radius: 5px;
}

.search-icon {
    display: flex;
    padding-right: 133px;
    text-align: center;
}

.search-icon img {
    padding-right: 15px;
}

.search-icon div {
    text-transform: capitalize;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    color: #000000;

}

.card-icon {
    padding-left: 32px;
    border-left: 2px solid #0000002e;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.hero-section .hero-left {
    width: 35%;
}

.hero-section .hero-right {
    width: 35%;
}

.hero-section-bike {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    background: #F5DDC4;
    padding: 7px 20px;
    border-radius: 50px;
    padding-right: 2px;
    margin-bottom: 75px;
}

.hero-section-bike p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
    color: #F48E28;
    text-transform: capitalize;
}

.hero-section-bike img {
    height: 54px;
    border-radius: 50px;
    width: 54px;
    padding-right: 5px;
}

.hero-section .hero-header {
    Width: 678px;
    margin-bottom: 60px;
}

.hero-section .hero-header h1 {
    font-family: Montserrat;
    font-size: 96px;
    font-weight: 700;
    line-height: 100px;
    text-transform: uppercase;
}

.hero-header h1:nth-child(2) {
    color:
        #F48E28;
}

.hero-header h1:last-child span {
    color: #F48E28;
}

.hero-description {
    width: 625px;
    margin-bottom: 60px;
}

.hero-description P {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: left;

}

.hero-btn-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.hero-btn-section a {
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 700;
    line-height: 31.69px;
    text-decoration: none;
    padding: 20px 40px;
    color: #ffffff;
    background: linear-gradient(180deg, #EFAB68 0%, #F48E28 100%);
    text-transform: capitalize;
    border-radius: 20px;
}

.hero-btn-section img {
    box-shadow: 1px 1px 9px 6px #07060614;
    border-radius: 26px;
    padding: 20px
}

.hero-btn-section p {
    text-transform: capitalize;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 700;
    line-height: 31.69px;
    text-align: left;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns */
    grid-auto-rows: minmax(100px, auto);
    /* Dynamic row height */
    grid-gap: 20px;
    /* Gap between grid items */
}

.grid-item {
    /* border: 1px solid #ccc; */
    /* Border for grid items */
    padding: 10px;
    /* Padding for grid items */
}

.grid-item img {
    /* max-width: 100%; */
    /* Ensure images don't exceed container width */
    /* height: auto; */
    /* Maintain aspect ratio */
    display: block;
    /* Remove any spacing below images */
    margin: 0 auto;
    /* Center images horizontally */
    width: 215px;
    height: 250px;


}

.grid-item h3 {
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 700;
    line-height: 31.69px;
    text-align: center;

}

.grid-item h4 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: center;
}

.grid-item p {

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: center;

}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: -2px 0px 8px 2px #afa7a773;
    margin-bottom: 150px;
    border-radius: 20px;

}

/* .location>.time,
.palce,
.number {
    width: 235px;
} */

.location img {
    margin: 0 auto;
    width: 42px;
    height: 42px;
    display: block;
    margin-bottom: 10px;
}

.place img,
.number img {
    background-color: #F48E28;
    padding: 6px;
    border-radius: 30px;
    width: 20px;
    height: 20px;
}



.place {
    padding-right: 75px;
    padding-left: 75px;
    border-right: 2px solid #b6b6b659;
    border-left: 2px solid #b6b6b659;
}

.time,
.place,
.number {
    padding-top: 50px;
    padding-bottom: 50px;
}

.location h3 {

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: center;
    margin-bottom: 10px;
}

.location p {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.85px;
    text-align: center;
}

.product {
    margin-bottom: 115px;
}

.product .product-intro p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: left;
    color: #F48E28;
    text-align: center;
}

.product .product-header h3 {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.88px;
    text-align: center;
    margin-bottom: 50px;
}

.product-dish {
    width: 100%;
    border-radius: 20px;
    box-shadow: 1px 2px 12px 3px #e1dfda;
    margin-bottom: 20px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.card-img {
    width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.product-dish .dish-info-wrapper {
    padding: 10px 15px 46px 15px;
}

.product .product-dish .dish-info-wrapper {
    display: flex;
    justify-content: space-between;
}

.product .product-dish .dish-info-wrapper .dish-name-add .dish-name h3 {
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 700;
    line-height: 31.69px;
    margin-bottom: 20px;
}

.product .product-dish .dish-info-wrapper .dish-name-add .dish-cart-btn a {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.85px;
    text-align: left;
    text-decoration: none;
    color: #FFFFFF;
    background: #F48E28;
    padding: 10px 20px;
    border-radius: 30px;
}

.product .product-dish .dish-info-wrapper .dish-reating-price-div .desh-reating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.product .product-dish .dish-info-wrapper .dish-reating-price-div .desh-reating p {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.85px;
    color: #000000cd;
}

.product .product-dish .dish-info-wrapper .dish-reating-price-div .desh-price p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
}

.product-grid-contener {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 50px;
}

.more-product {
    padding: 20px 0px;
    background: #F48E28;
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
}

.more-product a {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 20px;
}

.service {
    margin-bottom: 115px;
}

.service .frist-heading {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: center;
    color: #F48E28;

}

.service-card {
    /* width: 340px; */
    padding: 90px 15px;
    border: 1px solid #b6b6b6dc;
    border-radius: 30px;
    background: #FFFFFF;

}

.service-card:hover {
    transition: all 0.5s;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 3px 20px 9px #e0dada99;

}

.service .second-heading {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.88px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}

.service-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

.service-card-img {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: #F5DDC4;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 30px;
}

.service-card-img-name {
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 700;
    line-height: 31.69px;
    text-align: center;
    margin-bottom: 30px;
}

.servic-card-description {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: center;

}