@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.menu {
    display: flex;
    align-items: center;
}

.nav .logo {
    /* margin-left: 100px; */
}

.menu-link {
    margin-right: 160px;
}

.menu-link a {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
    text-transform: capitalize;
}

.menu-search {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background: #fff;
    box-shadow: -3px 4px 6px 1px #f1efef;
    border-radius: 5px;
}

.search-icon {
    display: flex;
    padding-right: 133px;
    text-align: center;
}

.search-icon img {
    padding-right: 15px;
}

.search-icon div {
    text-transform: capitalize;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    color: #000000;

}

.card-icon {
    padding-left: 32px;
    border-left: 2px solid #0000002e;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.hero-section .hero-left {
    width: 35%;
}

.hero-section .hero-right {
    width: 35%;
}

.hero-section-bike {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    background: #F5DDC4;
    padding: 7px 20px;
    border-radius: 50px;
    padding-right: 2px;
    margin-bottom: 75px;
}

.hero-section-bike p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
    color: #F48E28;
    text-transform: capitalize;
}

.hero-section-bike img {
    height: 54px;
    border-radius: 50px;
    width: 54px;
    padding-right: 5px;
}

.hero-section .hero-header {
    Width: 678px;
    margin-bottom: 60px;
}

.hero-section .hero-header h1 {
    font-family: Montserrat;
    font-size: 96px;
    font-weight: 700;
    line-height: 100px;
    text-transform: uppercase;
}

.hero-header h1:nth-child(2) {
    color:
        #F48E28;
}

.hero-header h1:last-child span {
    color: #F48E28;
}

.hero-description {
    width: 625px;
    margin-bottom: 60px;
}

.hero-description P {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: left;

}

.hero-btn-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.hero-btn-section a {
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 700;
    line-height: 31.69px;
    text-decoration: none;
    padding: 20px 40px;
    color: #ffffff;
    background: linear-gradient(180deg, #EFAB68 0%, #F48E28 100%);
    text-transform: capitalize;
    border-radius: 20px;
}

.hero-btn-section img {
    box-shadow: 1px 1px 9px 6px #07060614;
    border-radius: 26px;
    padding: 20px
}

.hero-btn-section p {
    text-transform: capitalize;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 700;
    line-height: 31.69px;
    text-align: left;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns */
    grid-auto-rows: minmax(100px, auto);
    /* Dynamic row height */
    grid-gap: 20px;
    /* Gap between grid items */
}

.grid-item {
    /* border: 1px solid #ccc; */
    /* Border for grid items */
    padding: 10px;
    /* Padding for grid items */
}

.grid-item img {
    /* max-width: 100%; */
    /* Ensure images don't exceed container width */
    /* height: auto; */
    /* Maintain aspect ratio */
    display: block;
    /* Remove any spacing below images */
    margin: 0 auto;
    /* Center images horizontally */
    width: 215px;
    height: 250px;


}

.grid-item h3 {
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 700;
    line-height: 31.69px;
    text-align: center;

}

.grid-item h4 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: center;
}

.grid-item p {

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: center;

}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .location>.time,
.palce,
.number {
    width: 235px;
} */

.location img {
    margin: 0 auto;
    width: 42px;
    height: 42px;
    display: block;
    margin-bottom: 10px;
}

.place img,
.number img {
    background-color: #F48E28;
    padding: 6px;
    border-radius: 30px;
    width: 20px;
    height: 20px;
}

.place {
    padding: 0px 75px;
    border-right: 1px solid #B6B6B6;
    border-left: 1px solid #B6B6B6;
}

.location h3 {

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: center;
    margin-bottom: 10px;
}

.location p {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.85px;
    text-align: center;
}